@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-clamp {
    margin-left: clamp(2rem, 7vw, 8rem);
    margin-right: clamp(2rem, 7vw, 8rem);
}

@media only screen and (max-width: 709px) {
    .nav-clamp {
        margin-left: 0;
        margin-right: 0;
    }
}